<li>
	{{subject}}

	<button class="change-fin" data-id="{{id}}" data-newfin="{{finish}}">
		{{#if finish}}Complete {{else}}More Study {{/if}}
	</button>

	<button class="delete-plan" data-id="{{this.id}}">DELETE!</button>
</li>
